*{


}
.gooey {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: opacity 0.5s ease;
  overflow-y: auto;
  z-index: 9998;
}
.gooey .bg{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: #fff;
  filter: contrast(20);
  transition: opacity 0.5s ease;
}
.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
  z-index: 9999;
}
.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
  z-index: 9999;
}
.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  z-index: 9999;
}

.gooey-finish{

  opacity: 0;
  pointer-events: none;
}
@-moz-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-webkit-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-o-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-moz-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-webkit-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-o-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}



html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
#categoryHeading{
text-align:center;
font-size: 3.0em;
width: 100%;

}
.btn-primary {
    color: #fff;
    background-color: #264984;
    border-color: #264984;
}
.inputQuantity{
  border: none;
  background-color: inherit;
  text-align: center;
  width: 32px;
  margin-left: 12px;
}



body{
  //background-color: #fffcc4;
  background-color: #E3E3E3;
}
#navbar{
  //background-image: linear-gradient(to right, red , yellow);
  //background: rgb(105,101,164);
  //background: linear-gradient(90deg, rgba(105,101,164,1) 0%, rgba(118,40,139,1) 80%, rgba(61,103,176,1) 100%);
  /* background: rgb(111,177,72);
background: linear-gradient(90deg, rgba(111,177,72,1) 0%, rgba(59,184,115,1) 50%, rgba(38,135,157,1) 100%); */
background: rgb(140,172,138);
background: linear-gradient(90deg, rgba(140,172,138,1) 0%, rgba(130,156,110,1) 33%, rgba(163,131,131,1) 58%, rgba(143,112,125,1) 100%);

}

#im_gro{
//width: 100%;
object-fit: cover;
height: 15.0em;
}
#im_veg{
object-fit: cover;
//width: 100%;
height: 15.0em;
}
#im_food{
object-fit: cover;
//width: 100%;
height: 15.0em;
}
#im_dairy{
object-fit: cover;
//width: 100%;
height: 15.0em;
}
#im_fruit{
object-fit: cover;
//width: 100%;
height:15.0em;
}
#im_hygiene{
object-fit: cover;
//width: 100%;
height: 15.0em;
}
#im_cleaning{
object-fit: cover;
//width: 100%;
height: 15.0em;
}
#im_item{
	object-fit: cover;
	//width: 100%;
	height: 15.0em;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	 -moz-transition: all 1s ease; /* Firefox */
	 -o-transition: all 1s ease; /* IE 9 */
	 -ms-transition: all 1s ease; /* Opera */
	 transition: all 1s ease;


}
#im_item:hover{
	-webkit-transform:scale(1.09); /* Safari and Chrome */
	 -moz-transform:scale(1.09); /* Firefox */
	 -ms-transform:scale(1.09); /* IE 9 */
	 -o-transform:scale(1.09); /* Opera */
		transform:scale(1.09);
}
div.gallery {
  position: relative;
  margin-left:  75px;
  margin-top: 10px;
  //border: .5px solid #ccc;
  float: left;
}


div.gallery:hover {
  //border: 1px solid #777;
  //opacity: 0.5;
  overflow: hidden;
  transition: transform .5s ease;


}

/* div.gallery img {
  width: 100%;
  height: auto;
} */

div.desc {
  padding: 5px;
  text-align: center;
}

div.jumbotron{
  //margin-top: 10px;
  padding: 0;
  background-image:url("../Images/back6.jpg");
  background-size: 190ex 100ex;
  background-blend-mode: multiply;
  background-position : top;
  background-repeat: no-repeat;
}
.text-block{
  font-family: 'Amatic SC', cursive;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  //position: center;
  //top: 50ex;
  //bottom: 5px;
  //right: 20px;
  //background-color: black;
  //opacity: 0.6;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-weight: 800;
}
.glow {

  color: yellow;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #e60073, 0 0 4px #e60073, 0 0 5px #e60073, 0 0 6px #e60073, 0 0 7px #e60073;
  }

  to {
    text-shadow: 0 0 2px #fff, 0 0 3px #ff4da6, 0 0 4px #ff4da6, 0 0 5px #ff4da6, 0 0 6px #ff4da6, 0 0 7px #ff4da6, 0 0 8px #ff4da6;
  }
}
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;

}
.card-img, .card-img-bottom, .card-img-top {
  height: 10em;
  object-fit: contain;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  //width: 100%;

}





div#catTable.row{
  position: relative;
  width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  /*padding: 2px 16px;*/
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
