* {
    box-sizing: border-box;
  }
body{
    background-color: #fff;
  }
  #navbar{
    background: rgb(140,172,138);
  background: linear-gradient(90deg, rgba(140,172,138,1) 0%, rgba(130,156,110,1) 33%, rgba(163,131,131,1) 58%, rgba(143,112,125,1) 100%);
  }
  
  